:root {
  --resURL: url("https://myworldbox.ml/resources/images/VLascii2.gif");
}

.link {
  width: 2.5em;
  height: 2.5em;
}

#flash {
  width: 100vw;
  height: 100vh;
}

.main-div-1 {
  width: 100vw;
  height: 100vh;
  font-family: "Long Cang", cursive;
  color: antiquewhite;
}

.bg {
  background: var(--resURL);
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-size: auto 100vh;*/
}

.motto {
  position: absolute;
  width: fit-content;
  top: 50%;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  white-space: pre;
}

.header-div {
  position: fixed;
  top: 0;
  left: 0;
  a {
    font-size: 1rem !important;
    float: left;
    text-decoration: none;
  }
  a:hover {
    background-color: palegoldenrod;
    color: darkred;
  }
}

a.bar {
  width: 120px;
  background-color: rgba(8, 135, 209, 0.4);
  color: white;
  top: 0;
  left: 0;
}

a.icon {
  display: none;
}

.main-div-2,
.main-div-3 {
  background: rgb(40, 45, 95);
  display: flex;
  padding: 200px 0 200px 0;
  flex-direction: column;
  color: white;
  font-size: 0.8rem;
}

.footer-div {
  background: linear-gradient(
    190deg,
    darkred 0%,
    rgb(2, 2, 49) 51%,
    #013654 100%
  );
  display: flex;
  padding: 60px 0 60px 0;
  flex-direction: column;
  color: white;
  font-size: 0.8rem;
  div {
    display: flex;
    flex-direction: row;
    margin: 0;
  }
  > div > div {
    max-width: 50%;
    flex-direction: column;
  }
}

.div-container {
  width: 100%;
  display: flex;
  justify-content: center;
  img {
    width: 100px;
    height: 100px;
  }
}

#qrCode > svg {
  width: 70px;
  height: 70px;
}

.main-div-3 {
  background: rgb(24, 24, 2);
  justify-content: center;
  align-items: center;
  > div {
    display: flex;
    flex-direction: column;
  }
}

.main-div-3-1 {
  background: rgb(24, 6, 85);
  padding: 10px;
}

.main-div-2-2-1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: 1rem;
}

.main-div-3-2 {
  width: 50vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  margin-top: 1rem;
}

input {
  font-size: 0.1rem;
  width: 50%;
}

.card {
  a {
    color: blue;
  }
  .header {
    margin-bottom: 0.25rem;
  }
  .body {
    font-size: 0.8rem;
    color: #777;
  }
}

.hide {
  display: none;
}

.footer-div-3 div {
  width: 100%;
  flex-direction: row;
}

a {
  padding: 15px;
  color: white;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 800px) {
  .main-div-3-2 {
    width: 70vw;
  }

  .footer-div div {
    flex-direction: column;
    div {
      max-width: 100%;
    }
  }

  .footer-div-3 span {
    flex-direction: row;
  }
}
