.link {
  width: 2.5em;
  height: 2.5em;
}
.motto {
  position: absolute;
  width: fit-content;
  top: 50%;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  white-space: pre;
}
.header-div {
  position: fixed;
  top: 0;
  left: 0;
}
.header-div a {
  font-size: 1rem !important;
  float: left;
  text-decoration: none;
}
.header-div a:hover {
  background-color: palegoldenrod;
  color: darkred;
}
.footer-div {
  background: linear-gradient(190deg, darkred 0%, #020231 51%, #013654 100%);
  display: flex;
  padding: 60px 0 60px 0;
  flex-direction: column;
  color: white;
  font-size: 0.8rem;
}
.footer-div div {
  display: flex;
  flex-direction: row;
  margin: 0;
}
.footer-div > div > div {
  max-width: 50%;
  flex-direction: column;
}
.div-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.div-container img {
  width: 100px;
  height: 100px;
}
#qrCode > svg {
  width: 70px;
  height: 70px;
}
.main-div-3 {
  background: #181802;
  justify-content: center;
  align-items: center;
}
.main-div-3 > div {
  display: flex;
  flex-direction: column;
}
.main-div-2-2-1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: 1rem;
}
.main-div-3-2 {
  width: 50vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  margin-top: 1rem;
}
input {
  font-size: 0.1rem;
  width: 50%;
}
.card a {
  color: blue;
}
.card .header {
  margin-bottom: 0.25rem;
}
.card .body {
  font-size: 0.8rem;
  color: #777;
}
.hide {
  display: none;
}
.footer-div-3 div {
  width: 100%;
  flex-direction: row;
}
a {
  padding: 15px;
  color: white;
  width: 20px;
  height: 20px;
}
@media screen and (max-width: 800px) {
  .main-div-3-2 {
    width: 70vw;
  }
  .footer-div div {
    flex-direction: column;
  }
  .footer-div div div {
    max-width: 100%;
  }
  .footer-div-3 span {
    flex-direction: row;
  }
}
